@import "./mixins.scss";
@import "./variables.scss";
@font-face {
    font-family: 'WorkSans';
    src: url(/assets/fonts/WorkSans-VariableFont_wght.ttf);
}

//colors


.grayish-purple-bg {
  color: hsl(292, 16%, 49%);
}
.grayish-purple-text {
  color: hsl(292, 16%, 49%);
}
.white {
  background-color: hsl(0, 0%, 100%);
}
.light-pink {
  color: hsl(275, 100%, 97%);
}
.dark-purple {
  color: hsl(292, 42%, 14%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: $Light-pink;
  font-family: 'WorkSans', sans-serif;
}

.faq-icons {
  width: 32px;
  height: 32px;
  display: inline-block;
  background-size: cover; // para casos de ajuste de icono
}

.plus-icon {
  background-image: url("../assets/images/icon-plus.svg");
}
.minus-icon {
  background-image: url("../assets/images/icon-minus.svg");
}

// @media (min-width:1024px) {
//     main{
//         top: 9rem;
//         left: 20.75rem;
//     }
// }
